*-mesh-vpn-wireguard-vxlan checkuplink should fall back to IPv4 if IPv6 does not work

I just set up my first Freifunk node. I'm using a gl.inet 5G router for my internet connection and it has IPv6 enabled, but o2 does not give me v6 connectivity. That results in the gl.inet device being set as default route in `ip -6 r s`, but v6 connectivity does not actually work.

I needed a while to debug this, but the checkuplink script resolves the NTP servers to v6 addresses only in that case and fails trying to connect to them. To get the freifunk router to work, I needed to completely disable IPv6 in my gl.inet router, which means that if o2 decides to give me an IPv6 address in the future, I won't notice :(

It would be great if the script had some global check for IPv6 connectivity and then falls back to IPv4 if that does not work.

for `ffmuc-mesh-vpn-wireguard-vxlan` we do not want to fallback to ipv4 when ipv6 exists.
The idea behind it was to promote a bit of functioning ipv6 and if necessary the ipv6 problem can be reported and resolved at the root.

See also:
https://chat.ffmuc.net/freifunk/pl/y3oo837pdbgm38zk945fanr6sc

Have found this in [RFC6724, section 2](https://www.rfc-editor.org/rfc/rfc6724#section-2), it says:

> Well-behaved applications SHOULD NOT simply use the first address
> returned from an API such as getaddrinfo() and then give up if it
> fails.

And [section 10.3](https://www.rfc-editor.org/rfc/rfc6724#section-10.3):

> The default policy table gives IPv6 addresses higher precedence than
> IPv4 addresses.